<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf Fragments: Params</title>
    <!--/*/ <th:block th:include="fragmentExample/fragments/general.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>

<header th:insert="fragmentExample/fragments/general.html :: header">
</header>

<div class="container mt-4">
    <div th:replace="fragmentExample/fragments/forms.html :: formField(field='Name', value='John Doe', size='40')">
    </div>
</div>

<footer th:replace="fragmentExample/fragments/general.html :: footer">
</footer>

</body>
</html>