<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <title></title>
</head>
<body>
<div th:fragment="addressDisplay (address)" id="address-display" class="p-2 d-flex">
    <img src="icons/address-pin.svg" alt="address-pin" width="30" />
    <div class="d-flex flex-column ps-3">
        <div th:if="${address.getAddress()} != ''" th:text="${address.getAddress()}"></div>
        <div th:if="${address.getSuburb()} != ''" th:text="${address.getSuburb()}"></div>
        <div th:if="${address.getCity()} != ''" th:text="${address.getCity()}"></div>
        <div th:if="${address.getPostcode()} != ''" th:text="${address.getPostcode()}"></div>
        <div th:if="${address.getCountry()} != ''" th:text="${address.getCountry()}"></div>
    </div>
</div>
</body>
</html>