<html xmlns:th="http://www.thymeleaf.org" lang="English">
    <body>
        <div th:fragment="add-task-icon">
            <div th:each="icon : ${icons}">
                <button class="icon-btn" th:id="${icon}" type="button" th:onclick="|addTaskIcon('${icon}')|">
                    <img th:src="@{${'/images/' + icon}}" alt="Task Icon"> 
                </button>
            </div>
            <button type="button" class="submit-button" th:attr="data-csrf=${_csrf.token}" th:onclick="submitIcon">Confirm</button>
        </div>
    </body>
</html>
