<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="English">
<body>
<!-- month is the month name, numDays is the number of days in the month, rows is the number of rows in the calendar,
and firstDay is the number of the day of the Week which occurs on the first day of the month,
from 0 (Monday) to 6 (Sunday) -->
<div th:fragment="calendar (date, dates, id)" class="container" id="calendar">
    <div class="row">
        <!-- Previous Month -->
        <div class="col text-center">
            <a th:href="@{/renovations/view(id=${id}, month=${date.minusMonths(1).monthValue}, year=${date.minusMonths(1).year})}"
               class="btn btn-primary btn-lg" role="button" aria-pressed="true" style="font-size: 1.5rem; margin-bottom: 16px; width: 50%">
                [[${#strings.capitalize(date.minusMonths(1).month.name().toLowerCase())}]]
            </a>
        </div>
        <!-- Current Month -->
        <div class="col ">
            <h1 class="text-center" style="font-size: 3rem;"
                th:text="|${#strings.capitalize(date.month.name().toLowerCase())} ${date.year}|">
            ></h1>
        </div>
        <!-- Next Month -->
        <div class="col text-center">
            <a th:href="@{/renovations/view(id=${id}, month=${date.plusMonths(1).monthValue}, year=${date.plusMonths(1).year})}"
               class="btn btn-primary btn-lg" role="button" aria-pressed="true" style="font-size: 1.5rem; margin-bottom: 16px; width: 50%">
                [[${#strings.capitalize(date.plusMonths(1).month.name().toLowerCase())}]]
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col border border-secondary">Monday</div>
        <div class="col border border-secondary">Tuesday</div>
        <div class="col border border-secondary">Wednesday</div>
        <div class="col border border-secondary">Thursday</div>
        <div class="col border border-secondary">Friday</div>
        <div class="col border border-secondary">Saturday</div>
        <div class="col border border-secondary">Sunday</div>
    </div>
    <div th:each="row : ${dates}" class="row">
        <div th:each="cell : ${row}"
             th:if="${cell != null}"
             class="col py-5 border border-secondary text-start"
             th:text="${cell.day}"
             th:classappend="${cell.month != date.monthValue} ? ' bg-body-secondary text-muted' : ''"
        >
        </div>
    </div>
</div>
</body>
</html>