<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="English">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Home Helper navigation bar</title>
</head>
<body>
<div th:fragment="nav-bar">
    <div class="custom-navbar navbar" id="navbar">
        <a class=" navbar-brand nav-link custom-navbar-brand" id="navbar-home" th:href="@{/main}">Home</a>
        <ul id="navbar-links" style="justify-content: right;">
            <li id="my-renovations" style="line-height:38px;">
                <a class="nav-link" th:href="@{/renovations}">My Renovations</a>
            </li>
            <li id="search-renovations" style="line-height:38px;">
                <a class="nav-link" th:href="@{/renovations/search(visibility='user')}">Search My Renovations</a>
            </li>
            <li id="browse-renovations" style="line-height:38px;">
                <a class="nav-link" th:href="@{/renovations/search(visibility='public')}">Browse Renovations</a>
            </li>
            <li id="view-requests" style="line-height:38px;">
                <a class="nav-link">View Requests</a>
            </li>
            <li id="profile-image" onclick="toggleUserMenus()">
                <div id="profile-container" style="padding-top:10px; padding-left:10px;">
                    <img th:src="@{'/profile_pictures/' + ${session.profilePicture}}"
                         alt="Profile Picture"
                         class="img-fluid rounded-circle"
                         style="width: 50px; height: 50px; object-fit: cover;">
                </div>
                    <div class="dropdown-content" id="dropdown">
                        <a class="dropdown-item" th:href="@{/user}">Profile</a>
                        <a class="dropdown-item">Logout</a>
                    </div>
            </li>

        </ul>
        <span class="hamburger" onclick="toggleMenu()">☰</span>
    </div>
</div>

</body>
</html>