<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="English">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>Home Helper navigation bar</title>
</head>
<body onload="getProfilePictureFromLocalStorage()">
<div th:fragment="nav-bar">
    <div class="container pt-5" id="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/main}">Home</a>
                <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: right;">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/renovations}">My Renovations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/renovations/search(visibility='user')}">Search My Renovations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/renovations/search(visibility='public')}">Browse Renovations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:href="@{/user}">
                                <img id="profile-picture"
                                     src = ""
                                    alt="Profile Picture"
                                    class="img-fluid rounded-circle"
                                    style="width: 45px; height: 45px; object-fit: cover;">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>

<script>
    let profileImage = localStorage.getItem("profilePicture");
    console.log(profileImage);
    document.getElementById("profile-picture").src = profileImage;

</script>
<script type="module" th:src="@{/js/profilePicture.js}"></script>

</html>