.contractme-map {
    height: 80vh;
    width: 100%;
    margin: auto;
    z-index: 0;
}

.map-tooltip .address {
    font-size: 1.0rem;
}

.map-tooltip .card-body {
    padding: 1rem !important;
}

.leaflet-popup-content { margin: 0 !important; }




