html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.card.p-4 {
    display: flex;
    flex-direction: column;
    height: auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr)); /* Dynamically adjusts the number of columns */
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

#footer {
    flex-shrink: 0;
    padding-top: 1rem;
    background: white;
}

.card.card-count {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* allow flexible widths */
    gap: 24px;
    padding: 1rem 0;
}

.renovation-name-header {
    margin-left: -12px !important;
    margin-right: -12px !important;
    background-color: #bbbbbb;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
}

.renovation-tab-bar {
    margin-left: -16px !important;
    margin-right: -16px !important;
    border: none !important;
    border-radius: 0;
}

.renovation-tab-bar-options {
    border: none !important;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    color: black;
    font-size: 20px;
}

.renovation-tab-bar-options:hover {
    background-color: #999999;
}