<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for registration code email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p th:text="|Hi ${name},|">Hi user,</p>
        <p>You're receiving this email because someone registered an account
        for Home Helper. If you didn’t register, ignore this email, and your account will be deleted in 10 minutes.
        </p>
        <h1 style="text-align: center; border-style: solid; border-width: medium; border-radius: 5px; margin-left: 25%; margin-right: 25%;" th:text="${code}">XXXXXX</h1>
        <p>Enter the code above to confirm your account registration.</p>
        <br/>
        <p>
        Regards,<br/>
        <em>Team 200</em>
    </body>
</html>
