<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for forgot password link email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="|Hi ${name},|">Hi user,</p>
<p>You're receiving this email because someone registered an account
    for Home Helper. The link below will take you to the new password page and will expire in 10 minutes.
</p>
<p>Link to confirm new password.</p>
<!--<a class="nav-link" th:href="@{/password/reset(token=${token})}"></a>-->

<br/>
<p>
    Regards,<br/>
    <em>Team 200</em>
</body>
</html>
