<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for forgot password link email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="|Hi ${name},|">Hi user,</p>
<p> Click the link below to reset your password for HomeHelper.
     This link will expire after 10 minutes.<br/>
</p>

<a class="nav-link" th:href="${domain} + '/password/reset/' + ${token}"
   th:text="${domain} + '/password/reset/' + ${token}">yarrr!!!</a>
<p>
    Regards,<br/>
    <em>Team 200</em>
</body>
</html>
