<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <base th:href="@{/}"/>
    <title>Create renovation</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/toggleSwitchStyles.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>
<div class="container mt-5">

    <div class="card p-4 shadow-sm">
        <h4 class="card-title mb-4">Start a new renovation!</h4>
        <form th:action="@{/renovations/create}" method="post" id="renovation-form">

            <div id="room-hidden-inputs" th:each="room : ${roomList}">
                <input type="hidden" name="roomList" th:value="${room}" />
            </div>
            <input type="hidden" id="existingName" th:name="existingName" th:value="${existingName}">

            <!-- NAME -->
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter a name for your renovation"
                       th:name="name" th:value="${name}" data-cy="name" maxlength="129" autofocus>

                <!-- Frontend JS error -->
                <div class="alert alert-danger mb-4" role="alert" id="name-frontend-error" hidden>
                    <div class="error-box">
                        <ul>
                            <li>
                                <label class="form-label" id="name-frontend-error-message" ></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Backend error -->
                <div class="alert alert-danger mb-4" role="alert" id="name-backend-error"
                     th:if="${nameError}">
                    <div class="error-box">
                        <ul>
                            <li th:each="msg : ${nameError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <span id="description-length-counter" class="counter">0/512</span>
                <textarea class="form-control" id="description" placeholder="Enter a description for your new renovation"
                          th:name = "description" th:text="${description}"></textarea>

                <!-- Frontend JS error -->
                <div class="alert alert-danger mb-4" role="alert" id="description-frontend-error" hidden>
                    <div class="error-box">
                        <ul>
                            <li>
                                <label class="form-label" id="description-frontend-error-message" hidden></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Backend error -->
                <div class="alert alert-danger mb-4" role="alert" id="description-backend-error"
                     th:if="${descriptionError}">
                    <div class="error-box">
                        <ul>
                            <li th:each="msg : ${descriptionError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ROOM LIST -->
            <div class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="roomList" placeholder="Enter a room name"
                           th:name="roomList" data-cy="roomList">
                    <button type="button" class="btn btn-primary" id="create-room-button">Add</button>
                </div>

                <!-- Frontend JS error -->
                <div class="alert alert-danger mb-4" role="alert" id="room-frontend-error" hidden>
                    <div class="error-box">
                        <ul>
                            <li>
                                <label class="form-label" id="room-frontend-error-message" hidden></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Backend error -->
                <div class="alert alert-danger mb-4" role="alert" id="room-backend-error" th:attr="hidden=${roomError == null}">
                    <div class="error-box">
                        <ul>
                            <li th:each="msg : ${roomError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <table id="room-list" class="table table-bordered"></table>
            </div>

            <!-- LOCATION TOGGLE SWITCH -->

            <div class="d-flex justify-content-between align-items-center py-4 px-0" style="width: 22%">
                <div>Enter Location (Optional):</div>
                <div>
                    <label class="switch">
                        <input type="checkbox" id="location-toggleswitch" th:checked="${locationUsed}">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <!-- LOCATION FORM FRAGMENT -->
            <div th:class="${locationUsed} ? 'form-extension' : 'hidden-form-extension'" id="location-form">
                <div th:replace="~{fragments/locationForm.html :: locationForm(
                     addressDTO=${addressDTO})}"></div>
            </div>

            <button type="submit" id="submit-record" class="btn btn-primary">Create</button>



        </form>
    </div>

    <!-- CANCEL BUTTON -->
    <div class="mt-4">
        <a th:href="@{${previousUrl}}" class="btn btn-primary">Cancel</a>
    </div>
</div>
</body>

<script type="module" th:src="@{/js/locationForm.js}"></script>
<script type="module" th:src="@{/js/validation/locationFormValidation.js}"></script>
<script type="module" th:src="@{/js/validation/renovationValidations.js}"></script>
<script type="module" th:src="@{/js/individualRenovation.js}"></script>
<script type="module" th:src="@{/js/locationToggleSwitch.js}"></script>
</html>
