<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <base th:href="@{/}"/>
  <title>Edit Task</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />


  <script type="module" th:src="@{/js/createTask.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>

<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <h4 class="card-title mb-4">Edit Task</h4>
    <form th:action="@{/editTask}" method="post" id="create-task-form" th:object="${renovationTaskDTO}" novalidate>

      <input type="hidden" id="renovationId" th:name="renovationId" th:value="${renovation.id}">
      <input type="hidden" id="taskId" th:name="taskId" th:value="${task.getId()}">
      <input th:unless="${fromDate.isEmpty()}" type="hidden" name="dateToReturnTo" th:value="${fromDate}">

      <img th:src="@{${'/images/' + task.getIconFileName()}}"
           class="img-fluid rounded-circle"
           style="width: 100px; height: 100px; object-fit: cover"
           alt="Task Icon">

      <!-- NAME -->
      <div class="mb-3 mt-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter a name for your task" data-cy="name" maxlength="129" autofocus th:field="*{name}" />

        <!-- Frontend JS error -->
        <div class="alert alert-danger mt-2" role="alert" id="name-frontend-error" hidden>
          <ul><li><label class="form-label" id="name-frontend-error-message"></label></li></ul>
        </div>

        <!-- Backend error -->
        <div class="alert alert-danger mt-2" role="alert" id="name-backend-error"
             th:if="${nameError}">
          <ul><li th:each="msg : ${nameError}" th:text="${msg}"></li></ul>
        </div>
      </div>

      <!-- DESCRIPTION -->
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <span id="description-length-counter" class="counter">0/512</span>
        <textarea class="form-control" id="description" placeholder="Enter a description for your task"
                  th:field="*{description}"></textarea>

        <!-- Frontend JS error -->
        <div class="alert alert-danger mt-2" role="alert" id="description-frontend-error" hidden>
          <ul><li><label class="form-label" id="description-frontend-error-message"></label></li></ul>
        </div>

        <!-- Backend error -->
        <div class="alert alert-danger mt-2" role="alert" id="description-backend-error"
             th:if="${descriptionError}">
          <ul><li th:each="msg : ${descriptionError}" th:text="${msg}"></li></ul>
        </div>
      </div>

      <!-- DUE DATE -->
      <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date:</label>
        <input type="date" class="form-control" id="dueDate" th:name="dueDate" th:value="${task.getDueDate()}" />

        <!-- Frontend JS error -->
        <div class="alert alert-danger mt-2" role="alert" id="dueDate-frontend-error" hidden>
          <ul><li><label class="form-label" id="dueDate-frontend-error-message"></label></li></ul>
        </div>

        <!-- Backend error -->
        <div class="alert alert-danger mt-2" role="alert" id="dueDate-backend-error"
             th:if="${dueDateError}">
          <ul><li th:each="msg : ${dueDateError}" th:text="${msg}"></li></ul>
        </div>
      </div>

      <!-- ROOMS -->
      <label class="form-label">Rooms:</label>
      <div class="form-check mb-1 fs-3" th:each="room, meta : ${roomList}">
        <label>
          <input class="form-check-input fs-3" type="checkbox" th:field="*{rooms}"
                 th:id="'room-' + ${meta.index}" th:value="${room}"
                 th:checked="${task.getRoomList() != null and #lists.contains(task.getRoomList(), room)}">
        </label>
        <label class="form-check-label ml-3 small" th:for="'room-' + ${meta.index}" th:text="${room}"></label>
      </div>

      <div class="mt-5 d-flex">

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary">Submit</button>

        <!-- CANCEL BUTTON -->
        <a th:unless="${fromDate.isEmpty()}"
           th:href="@{/renovations/view#cellEdited(id=${renovation.id}, dateEdited=${fromDate})}"
           class="btn btn-outline-secondary cancel-task-form ms-3">Cancel</a>
        <a th:if="${fromDate.isEmpty()}"
           th:href="@{/renovations/view(id=${renovation.id})}"
           class="btn btn-outline-secondary cancel-task-form ms-3">Cancel</a>
      </div>
    </form>

    <!-- General error -->
    <div th:if="${errorMessages}" class="alert alert-danger mt-4" role="alert">
      <ul>
        <li th:each="error : ${errorMessages}" th:text="${error}"></li>
      </ul>
    </div>

  </div>
</div>
</body>
<script type="module" th:src="@{/js/validation/taskValidation.js}"></script>
<script type="module" th:src="@{/js/navbar.js}"></script>
</html>
