<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/faviconHeader.html :: faviconHeader}"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/teamJoinStyles.css}" />
</head>
<body>
<div>
    <div th:replace="~{fragments/joinTeam.html :: join-team}"></div>

</div>


</body>



<script type="module" th:src="@{/js/navbar.js}"></script>


</html>