<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <base th:href="@{/}"/>
    <title> Home Helper </title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/confirmationPopup.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>
    <div th:replace="~{fragments/navbar.html :: nav-bar}"></div>
<div th:replace="~{fragments/confirmPrompt.html :: confirm-prompt}"></div>
</body>
<script type="module" th:src="@{/js/navbar.js}"></script>

</html>
