<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<base th:href="@{/}"/>
	<title th:text="|User ${firstName}|">User Details</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/js/confirmPrompt.js}"></script>
</head>

<style>
    .col-md-25 {
        flex: 0 0 18%;
        max-width: 22%;
    }
</style>

<body>
<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>
<div th:replace="~{fragments/confirmPrompt.html :: confirm-prompt}"></div>
<div class="container mt-5">
	<div class="card p-4 shadow position-relative">
        <div class="position-absolute top-0 end-0 m-3 d-flex gap-2">
            <a th:href="@{/user/edit}" class="btn btn-primary ">
                Edit
            </a>
					<a href="#" class="btn btn-danger" onclick="confirmLogout()">Logout</a>
				</div>

		<!-- Use Bootstrap Grid for Layout -->
		<div class="row align-items-center">
			<!-- Profile Picture Column -->
			<div class="col-md-25  text-center">
				<img th:src="@{'/profile_pictures/' + ${profilePicture}}"
					 alt="Profile Picture"
					 class="img-fluid rounded-circle"
					 style="width: 200px; height: 200px; object-fit: cover;">
			</div>
            <div class="col-md-5">
				<h4 class="card-title mb-5 ms-2">User details for <span th:text="${firstName}">Name</span></h4>
				<div class="card-body">
					<table class="border border-0">
						<tbody>
							<tr>
								<th class="p-2">Name</th>
								<td class="p-2" th:text="|${firstName} ${lastName}|">Name</td>
							</tr>
							<tr>
								<th class="p-2">Email</th>
								<td class="p-2" th:text="${email}">email</td>
							</tr>
							<tr>
								<th class="p-2">Account created</th>
								<td class="p-2" th:text="${dateAdded}">date</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div th:if="${successMessage}" class="alert alert-success" id="successMessage" style="margin-top: 20px;">
				<p th:text="${successMessage}"></p>
			</div>
			<script th:inline="javascript">
				// If there's a success message, set a timer to hide it after 5 seconds
				var successMessage = document.getElementById('successMessage');

				if (successMessage) {
					setTimeout(function() {
						successMessage.style.display = 'none';
					}, 3000);
				}
			</script>
		</div>
	</div>
</div>
</body>
</html>