<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{fragments/faviconHeader.html :: faviconHeader}"/>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<base th:href="@{/}"/>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<title th:text="|User ${firstName}|">User Details</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<script type="module" th:src="@{/js/confirmPrompt.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>

<div class="container mt-5">
	<div class="card p-4 shadow position-relative">
        <div class="position-absolute top-0 end-0 m-3 d-flex gap-4">
			<form id="contractorForm" class="d-flex align-items-center" th:if="${userType == 'Contractor'}">
				<input type="hidden" id="contractor" th:value="${contractor.id}">
				<input type="checkbox" id="availabilityCheckbox" name="isAvailable" th:checked="${contractor.available}" class="me-1">
				<label for="availabilityCheckbox" class="mb-0">Available for jobs</label>
			</form>
            <a id="edit-button" th:href="@{/user/edit}" class="btn btn-primary ">
                Edit
            </a>
		</div>


		<!-- Use Bootstrap Grid for Layout -->
		<div class="d-flex align-items-center mb-4">
			<!-- Profile Picture -->
			<div>
				<img th:src="@{'/profile_pictures/' + ${profilePicture}}"
					 alt="Profile Picture"
					 class="img-fluid rounded-circle me-3"
					 style="width: clamp(60px, 12vw, 150px); height: clamp(60px, 12vw, 150px); object-fit: cover;">
			</div>

			<!-- Name -->
			<div>
				<h4 class="card-title mb-0">User details for <span th:text="${firstName}">Name</span></h4>
			</div>
		</div>

		<div class="card-body">
					<table class="border border-0">
						<tbody>
							<tr>
								<th class="p-2">Name</th>
								<td class="p-2" th:text="|${firstName} ${lastName}|">Name</td>
							</tr>
							<tr>
								<th class="p-2">Email</th>
								<td class="p-2" th:text="${email}">email</td>
							</tr>
							<tr th:if="${userType == 'Contractor'}">
								<th class="p-2">Phone Number</th>
								<td class="p-2" th:text="${phoneNumber}"/>
							</tr>
							<tr th:if="${userType == 'Contractor'}">
								<th class="p-2">Hourly Rate</th>
								<td class="p-2" th:text="${hourlyRate}"/>
							</tr>
							<tr>
								<th class="p-2">Account created</th>
								<td class="p-2" th:text="${dateAdded}">date</td>
							</tr>
							<tr th:if="${userType == 'Contractor'}">
								<th class="p-2">Availability</th>
								<td class="p-2" th:text="${isAvailable} ? 'Available' : 'Not Available'">Availability</td>
							</tr>
							<tr th:if="${userType == 'Contractor'}">
								<th class="p-2">Skills</th>
								<td class="p-2">
									<span th:each="skill : ${skills}"
										  class="tag-box badge bg-success d-inline-flex align-items-center me-2 mb-2">
										<span class="tag-text-large ms-1 text-truncate" th:text="${skill.getDisplayName()}"/>
									</span>
								</td>
							</tr>
							<tr th:if="${location}">
								<th class="p-2">Address</th>
								<td class="p-2">
									<div th:replace="~{fragments/addressDisplay.html :: addressDisplay (${location})}"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div th:if="${successMessage}" class="alert alert-success" id="successMessage" style="margin-top: 20px;">
				<p th:text="${successMessage}"></p>
			</div>
			<script th:inline="javascript">
				// If there's a success message, set a timer to hide it after 5 seconds
				var successMessage = document.getElementById('successMessage');

				if (successMessage) {
					setTimeout(function() {
						successMessage.style.display = 'none';
					}, 3000);
				}
			</script>
		</div>
	</div>
</div>
</body>
<script type="module" th:src="@{/js/navbar.js}"></script>
<script type="module" th:src="@{/js/contractorAvailability.js}"></script>
</html>