<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <base th:href="@{/}"/>
    <title>Home Helper Registration</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/toggleSwitchStyles.css}"/>
    <link rel="stylesheet" th:href="@{/css/inputBoxStyles.css}"/>
    <link rel="stylesheet" th:href="@{/css/tags.css}">
</head>


<body>
<div class="container mt-5">
    <div class="card p-4 shadow">
        <h4 class="card-title mb-5">Sign up</h4>
        <form th:action="@{register}" method="post" id="registration-form" novalidate>
            <div class="form-group mb-3">

                <!-- FIRST NAME -->
                <div class="mb-3">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
                           aria-label="first-name" th:value="${userRegisterDTO.firstName}" autocomplete="given-name">

                    <!-- Frontend JS error -->
                    <div class="alert alert-danger mt-2" id="firstName-frontend-error" hidden>
                        <ul>
                            <li><label class="form-label" id="firstName-frontend-error-message"></label></li>
                        </ul>
                    </div>

                    <!-- Backend error -->
                    <div class="alert alert-danger mt-2" id="firstName-backend-error"
                         th:attr="hidden=${firstNameError == null}">
                        <ul>
                            <li th:each="msg : ${firstNameError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <!-- LAST NAME -->
                <div class="mb-3">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
                           aria-label="last-name" th:value="${userRegisterDTO.lastName}" autocomplete="family-name">

                    <!-- Frontend JS error -->
                    <div class="alert alert-danger mt-2" id="lastName-frontend-error" hidden>
                        <ul>
                            <li><label class="form-label" id="lastName-frontend-error-message"></label></li>
                        </ul>
                    </div>

                    <!-- Backend error -->
                    <div class="alert alert-danger mt-2" id="lastName-backend-error"
                         th:attr="hidden=${lastNameError == null}">
                        <ul>
                            <li th:each="msg : ${lastNameError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <!-- EMAIL -->
                <div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email"
                           aria-label="email" th:value="${userRegisterDTO.email}" autocomplete="email">

                    <!-- Frontend JS error -->
                    <div class="alert alert-danger mt-2" id="email-frontend-error" hidden>
                        <ul>
                            <li><label class="form-label" id="email-frontend-error-message"></label></li>
                        </ul>
                    </div>

                    <!-- Backend error -->
                    <div class="alert alert-danger mt-2" id="email-backend-error"
                         th:attr="hidden=${emailError == null}">
                        <ul>
                            <li th:each="msg : ${emailError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <!-- CONTRACTOR TOGGLE SWITCH -->
                <div class="d-flex justify-content-between align-items-center py-4 px-0" style="width: 22%">
                    <div>Register as Contractor:</div>
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="contractor-toggleswitch" name="isContractor" th:checked="${userRegisterDTO.isContractor}">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>

                <!-- CONTRACTOR FORM FRAGMENT -->
                <div th:class="'pb-3 ' + (${userRegisterDTO.isContractor} ? 'form-extension' : 'hidden-form-extension')" id="contractor-form">
                    <div th:replace="~{fragments/contractorRegistration.html :: contractor-registration(
                    skills=${skills}, dto=${userRegisterDTO})}"></div>
                </div>

                <!-- LOCATION TOGGLE SWITCH -->
                <div class="d-flex justify-content-between align-items-center pb-4 px-0" style="width: 22%">
                    <div id="location-toggle-switch-label">Enter Location (Optional):</div>
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="location-toggleswitch" th:disabled="${userRegisterDTO.isContractor}" th:checked="${locationUsed}">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>

                <!-- LOCATION FORM FRAGMENT -->
                <div th:class="'pb-3 ' + (${locationUsed} ? 'form-extension' : 'hidden-form-extension')" id="location-form">
                    <div th:replace="~{fragments/locationForm.html :: locationForm(
                     addressDTO=${addressDTO})}"></div>

                    <!-- Backend error -->
                    <div class="alert alert-danger mt-2" id="location-backend-error"
                         th:attr="hidden=${locationError == null}">
                        <ul>
                            <li th:each="msg : ${locationError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                           aria-label="password" autocomplete="new-password">

                    <!-- Frontend JS error -->
                    <div class="alert alert-danger mt-2" id="password-frontend-error" hidden>
                        <ul>
                            <li id="password-frontend-error-message"></li>
                        </ul>
                    </div>

                    <!-- Backend error -->
                    <div class="alert alert-danger mt-2" id="password-backend-error"
                         th:attr="hidden=${passwordError == null}">
                        <ul>
                            <li th:each="msg : ${passwordError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <!-- CONFIRM PASSWORD -->
                <div class="mb-5">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Confirm Password" aria-label="confirm-password" autocomplete="new-password">

                    <!-- Frontend JS error -->
                    <div class="alert alert-danger mt-2" id="confirmPassword-frontend-error" hidden>
                        <ul>
                            <li><label class="form-label" id="confirmPassword-frontend-error-message"></label></li>
                        </ul>
                    </div>

                    <!-- Backend error -->
                    <div class="alert alert-danger mt-2" id="confirmPassword-backend-error"
                         th:attr="hidden=${confirmPasswordError == null}">
                        <ul>
                            <li th:each="msg : ${confirmPasswordError}" th:text="${msg}"></li>
                        </ul>
                    </div>
                </div>

                <!-- General error messages -->
                <div th:if="${errorMessages}" class="alert alert-danger mb-4" role="alert">
                    <ul>
                        <li th:each="error : ${errorMessages}" th:text="${error}"></li>
                    </ul>
                </div>

                <!-- SIGN UP BUTTON -->
                <button type="submit" class="btn btn-primary">Sign up</button>

                <!-- CANCEL BUTTON -->
                <a th:href="@{/}" class="btn btn-outline-secondary m-4">Cancel</a>
            </div>
        </form>
    </div>
</div>
<div style="height: 50px;"></div>
</body>
<script type="module" th:src="@{/js/locationForm.js}"></script>
<script type = "module" th:src="@{/js/validation/locationFormValidation.js}"></script>
<script type="module" th:src="@{/js/validation/userValidation.js}"></script>
<script type="module" th:src="@{/js/validation/registerValidation.js}"></script>
<script type="module" th:src="@{/js/skills.js}"></script>
<script type="module" th:src="@{/js/contractorToggleSwitch.js}"></script>
<script type="module" th:src="@{/js/locationToggleSwitch.js}"></script>
</html>
