<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <base th:href="@{/}"/>
    <title>My Renovations</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script type="text/javascript" th:src="@{/js/confirmPrompt.js}"></script>


</head>
<body>
<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>
<div th:replace="~{fragments/confirmPrompt.html :: confirm-prompt}"></div>
<div>

    <div class="container mt-5">
        <div class="jumbotron d-flex justify-content-between align-items-center text-center">
            <h1 class="text-black">My Renovations</h1>
            <a th:href="@{renovations/create}" class="btn btn-primary mt-3 me-3">⊕ Create New Renovation Record
            </a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="card p-4 shadow-sm">
            <form method="get" th:action="@{renovations}" class="mb-3 mt-2">
                <div class="input-group">
                    <input type="text" name="searchTerm" th:value="${searchTerm}" class="form-control" placeholder="Search by Name or Description">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>

            <table class="table table-striped table-bordered" style="table-layout: fixed;">
                <thead class="table-dark">
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${records == null or #lists.isEmpty(records)} and ${#strings.isEmpty(searchQuery)}">
                    <td colspan="1" class="text">No Renovations have been made yet.</td>
                </tr>
                <tr th:if="${records == null or #lists.isEmpty(records)} and !${#strings.isEmpty(searchQuery)}">
                    <td colspan="1" class="text">No renovations match your search.</td>
                </tr>
                <tr th:each="record : ${records}">
                    <td class="d-flex justify-content-between align-items-center table-row">
                        <form th:id="'form-' + ${record.id}" method="post" th:action="@{/renovations/view}">
                            <input type="hidden" name="id" th:value="${record.id}" />
                            <input type="hidden" name="page" value="1" />
                            <input type="hidden" name="cardsPerPage" value="5" />
                            <input type="hidden" name="fromSearch" value="false" />
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                        </form>
                        <a href="#" th:text="${record.name}" th:onclick="'document.getElementById(\'form-' + ${record.id} + '\').submit(); return false;'"
                           class="truncate-cell" th:title="${record.name}"></a>
                        <button type="button" class="btn btn-outline-danger custom-light-border"
                                th:attr="data-id=${record.id}, data-searchQuery=${searchQuery}, data-csrf=${_csrf.token}"
                                th:onclick="|confirmDelete(this)|">
                            ❌
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="~{fragments/paginationFooter.html :: paginationFooter(pageUrl='renovations', searchTerm=${searchQuery})}"></div>
            <div class="alert alert-danger" id="errorMessage" style="margin-top: 20px; display: none;">
                <p id="errorText"></p>
            </div>
        </div>

        <div class="mt-4">
            <a th:href="@{/home}" class="btn  btn-primary">Back To Home</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/confirmPrompt.js}"></script>
<script type="text/javascript" th:src="@{/js/renovationPagination.js}"></script>
</html>
