<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <base th:href="@{/}"/>
  <title>Reset Password</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
  <div class="card p-4 shadow">
    <h4 class="card-title mb-5">Reset Password</h4>
    <form th:action="@{/password/reset/{token}(token=${token})}" method="post">
      <div class="form-group mb-3">

        <!-- NEW PASSWORD -->
        <div class="mb-3">
          <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" aria-label="newPassword" th:value="${newPassword}">

          <!-- Frontend JS error -->
          <div class="alert alert-danger mt-2" id="new-password-frontend-error" hidden>
            <ul>
              <li><label class="form-label" id="new-password-frontend-error-message"></label></li>
            </ul>
          </div>

          <!-- Backend error -->
          <div class="alert alert-danger mt-2" id="password-backend-error"
               th:attr="hidden=${newPasswordError == null}">
            <ul>
              <li th:each="msg : ${newPasswordError}" th:text="${msg}"></li>
            </ul>
          </div>
        </div>

        <!-- CONFIRM NEW PASSWORD -->
        <div class="mb-3">
          <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Retype Password" aria-label="confirmNewPassword" th:value="${confirmNewPassword}">

          <!-- Frontend JS error -->
          <div class="alert alert-danger mt-2" id="confirm-new-password-frontend-error" hidden>
            <ul>
              <li><label class="form-label" id="confirm-new-password-frontend-error-message"></label></li>
            </ul>
          </div>

          <!-- Backend error -->
          <div class="alert alert-danger mt-2" id="confirm-new-password-backend-error"
               th:attr="hidden=${confirmNewPasswordError == null}">
            <ul>
              <li th:each="msg : ${confirmNewPasswordError}" th:text="${msg}"></li>
            </ul>
          </div>
        </div>

        <!-- General errors -->
        <div th:if="${errorMessages}" class="alert alert-danger mb-4" role="alert">
          <ul>
            <li th:each="error : ${errorMessages}" th:text="${error}"></li>
          </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <!-- Submit BUTTON -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
<script type="module" th:src="@{/js/validation/userValidation.js}"></script>
<script type="module" th:src="@{/js/validation/resetPasswordValidation.js}"></script>
</html>
