<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Account activation</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
    <div class="card p-4 shadow">
        <h2 class="card-title mb-5">
            Activate your account
        </h2>
        <form th:action="@{activate}" method="post">
            <label class="form-label fs-5" for="signup-code-input">
                Please enter the 6-digit signup code sent to
                <a th:href="@{'mailto:' + ${email}}" th:text=" ${email} " class="text-decoration-none"></a>
            </label>
            <input type="text" id="signup-code-input" class="form-control form-control-lg text-center" autofocus>
            <p th:if="${errorMessage}" th:text="${errorMessage}" class="text text-danger mb-3"></p>
            <button type="submit" class="btn btn-primary mt-4">Activate</button>
        </form>
    </div>
</div>

