<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <base th:href="@{/}"/>
  <title>Update Password</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
  <div class="card p-4 shadow">
    <h4 class="card-title mb-5">Update Password</h4>
    <form th:action="@{/user/edit/updatePassword}" method="post" th:object="${updatePasswordDTO}">
      <div class="form-group mb-3">

        <!-- OLD PASSWORD -->
        <div class="mb-3">
          <input type="password" class="form-control" id="old-password" name="oldPassword" placeholder="Old Password"
                 aria-label="old-password" th:field="*{currentPassword}" autocomplete="old-password">

          <!-- Frontend JS error -->
          <div class="alert alert-danger mt-2" id="old-password-frontend-error" hidden>
            <ul>
              <li><label class="form-label" id="old-password-frontend-error-message"></label></li>
            </ul>
          </div>

          <!-- Backend error -->
          <div class="alert alert-danger mt-2" id="old-password-backend-error"
               th:attr="hidden=${oldPasswordError == null}">
            <ul>
              <li th:each="msg : ${oldPasswordError}" th:text="${msg}"></li>
            </ul>
          </div>
        </div>

        <!-- NEW PASSWORD -->
        <div class="mb-3">
          <input type="password" class="form-control" id="new-password" name="newPassword" placeholder="New Password"
                 aria-label="new-password" th:field="*{newPassword}" autocomplete="new-password">

          <!-- Frontend JS error -->
          <div class="alert alert-danger mt-2" id="new-password-frontend-error" hidden>
            <ul>
              <li><label class="form-label" id="new-password-frontend-error-message"></label></li>
            </ul>
          </div>

          <!-- Backend error -->
          <div class="alert alert-danger mt-2" id="new-password-backend-error"
               th:attr="hidden=${newPasswordError == null}">
            <ul>
              <li th:each="msg : ${newPasswordError}" th:text="${msg}"></li>
            </ul>
          </div>
        </div>

        <!-- NEW PASSWORD RETYPE -->
        <div class="mb-3">
          <input type="password" class="form-control" id="new-password-retyped" name="newPasswordRetyped" placeholder="Retype New Password"
                 aria-label="retype-new-password" th:field="*{retypePassword}" autocomplete="new-password">

          <!-- Frontend JS error -->
          <div class="alert alert-danger mt-2" id="new-password-retyped-frontend-error" hidden>
            <ul>
              <li><label class="form-label" id="new-password-retyped-frontend-error-message"></label></li>
            </ul>
          </div>

          <!-- Backend error -->
          <div class="alert alert-danger mt-2" id="new-password-retyped-backend-error"
               th:attr="hidden=${newPasswordRetypeError == null}">
            <ul>
              <li th:each="msg : ${newPasswordRetypeError}" th:text="${msg}"></li>
            </ul>
          </div>
        </div>

        <!-- General error messages -->
        <div th:if="${errorMessages}" class="alert alert-danger mb-4" role="alert">
          <ul>
            <li th:each="error : ${errorMessages}" th:text="${error}"></li>
          </ul>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <!-- CANCEL BUTTON -->
            <a th:href="@{/user}" class="btn btn-outline-secondary m-2">Cancel</a>
          </div>
          <div>
            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
<script type="module" th:src="@{/js/validation/userValidation.js}"></script>
<script type="module" th:src="@{/js/validation/updatePasswordValidation.js}"></script>
</html>