<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>View Renovation</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>

    </style>
</head>
<body>
<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>
<div th:replace="~{fragments/confirmPrompt.html :: confirm-prompt}"></div>
<div class="container mt-5">

    <input type="hidden" id="data-total-pages" th:value="${totalPages}" aria-label="Total number pages"/>
    <input type="hidden" id="tasksPerPage" name="tasksPerPage" th:value="5"/>
    <div class="card p-4 shadow-sm">
        <h4 th:text="'Viewing Renovation: ' + ${renovation.name}" class="card-title mb-4"></h4>


        <div th:if="${renovation.description} != ''" class="card p-3 bg-light mb-3">
            <h6 class="fw-bold">Description:</h6>
            <p class="mb-0" th:text="${renovation.description}"></p>
        </div>

        <div th:if="!${renovation.rooms.isEmpty()}" class="mb-3">
            <h6 class="fw-bold">Rooms:</h6>
            <div class="list-group">
                <div th:each="room : ${renovation.rooms}" class="list-group-item">
                    🛠️ <span th:text="${room}" class="ms-2"></span>
                </div>
            </div>
        </div>

        <div th:if="!${renovation.getRenovationTasks().isEmpty()}" class="mb-3">
            <h6 class="fw-bold">Tasks:</h6>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div th:each="renovationTask : ${tasks}" class="col mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="position-relative">
                                    <img th:src="@{${'/images/' + renovationTask.getIconFileName()}}" alt="Task Icon" class="task-icon">
                                    <button type="button" class="btn btn-secondary btn-sm rounded-circle opacity-75 top-0 start-100 translate-middle">+</button>
                                </div>
                                <h5 class="card-title truncate ms-2 mb-0" th:text="${renovationTask.getName()}">Task Title</h5>
                            </div>
                            <p class="card-text truncate" th:text="${renovationTask.getDescription()}">Task Description</p>
                            <p class="card-text"><strong>Due Date:</strong> <span th:text="${renovationTask.getDueDate()}">Due Date</span></p>
                            <div class="d-flex justify-content-between">
                                <a th:href="@{/editTask(taskId=${renovationTask.getTask_id()},renovationId=${renovation.getId()})}" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" th:if="${totalPages > 0}">
            <ul class="pagination" id="pagination">
                <!-- First button (AC more than 10 pages) -->
                <li class="page-item" th:if="${totalPages > 10}">
                    <a class="page-link" href="#" th:href="@{/renovations/view(id=${renovation.id}, page=1, tasksPerPage=${tasksPerPage})}">First</a>
                </li>

                <!-- Previous button -->
                <li class="page-item" th:if="${pageNumber > 1}">
                    <a class="page-link" href="#" th:href="@{/renovations/view(id=${renovation.id}, page=${pageNumber - 1}, tasksPerPage=${tasksPerPage})}">Prev</a>
                </li>

                <!-- Page buttons <= 10 Pages, AC3 -->
                <li class="page-item" th:if="${totalPages <= 10}" th:each="pageLinkNumber : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${pageLinkNumber == pageNumber} ? 'active'">
                    <a class="page-link" th:href="@{/renovations/view(id=${renovation.id}, page=${pageLinkNumber}, tasksPerPage=${tasksPerPage})}" th:text="${pageLinkNumber}"></a>
                </li>

                <!-- Page buttons > 10 Pages, AC3 -->
                <li class="page-item" th:if="${totalPages > 10}"
                    th:each="pageLinkNumber : ${#numbers.sequence(paginationLinksStart, paginationLinksEnd)}"
                    th:classappend="${pageLinkNumber == pageNumber} ? 'active'">
                    <a class="page-link" th:href="@{/renovations/view(id=${renovation.id}, page=${pageLinkNumber}, tasksPerPage=${tasksPerPage})}" th:text="${pageLinkNumber}"></a>
                </li>

                <!-- Next button -->
                <li class="page-item" th:if="${pageNumber < totalPages}">
                    <a class="page-link" href="#" th:href="@{/renovations/view(id=${renovation.id}, page=${pageNumber + 1}, tasksPerPage=${tasksPerPage})}">Next</a>
                </li>

                <!-- Last button (AC more than 10 pages) -->
                <li class="page-item" th:if="${totalPages > 10}">
                    <a class="page-link" href="#" th:href="@{/renovations/view(id=${renovation.id}, page=${totalPages}, tasksPerPage=${tasksPerPage})}">Last</a>
                </li>

                <!-- Search field (AC more than 10 pages) --> <!-- CHANGE IF TO 10 after testing -->
                <li class="page-item d-flex align-items-center" th:if="${totalPages > 1}">
                    <input type="number" class="form-control me-2" id="pageSearch" aria-label="Page Search" style="min-width: 50px;">
                    <button class="btn btn-primary" th:onclick="|validatePageSearch(${renovation.id})|">Search</button>
                </li>

            </ul>
        </div>
    </div>

    <div class="alert alert-danger" id="errorMessage" style="margin-top: 20px; display: none;">
        <p id="errorText"></p>
    </div>


    <div class="mt-4 mb-4">
        <a th:href="@{/renovations/edit(id=${renovation.id})}" class="btn btn-primary">Edit</a>
        <a th:href="@{/renovations/view/create(id=${renovation.id})}" class="btn btn-primary">Add New Task</a>
        <a th:href="@{/renovations}" class="btn btn-primary">Back To Renovations</a>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{/js/confirmPrompt.js}"></script>
<script type="text/javascript" th:src="@{/js/pagination.js}"></script>
</html>
