<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="English">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <base th:href="@{/}"/>
    <title>View Team</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>


<body>

<div th:replace="~{fragments/navbar.html :: nav-bar}"></div>

    <div id="container" class="card container mt-5 shadow-sm">
        <div id="content-header">
            <div class="jumbotron d-flex justify-content-between align-items-center text-center">
                <h1 id="header-title" class="text-black">View Team</h1>
            </div>
        </div>


        <!-- Role Card Display-->

        <div class="container text-center">
            <div class="row">
                <div th:each="role : ${team.getRoles()}" class="col skill-card">
                    <div class="card container border-5 border-dark-subtle align-items-center position-relative skill-card-container"
                         style="padding-top: 7vh; padding-bottom: 7vh; max-width: 14vw; height: 35vh; margin: 5vh 5% 4vh;">

                        <!-- Delete button (hidden by default, shows on hover) -->
                        <button type="button" class="btn btn-sm btn-danger delete-skill-btn">✖</button>
                        <div class="col-md-25  text-center" style="flex: 0 0 18%; max-width: 22%;">
                            <img th:src="@{'/profile_pictures/' + ${contractors.get(role.getContractorId()).getProfilePicture()}}"
                                 alt="Profile Picture"
                                 class="img-fluid rounded-circle"
                                 style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <h3 th:if="${role.getContractorId() != null && role.isAccepted()}" th:text="${contractors.get(role.getContractorId()).getFullName()}"></h3>
                        <h3 th:if="${role.getContractorId() != null && !role.isAccepted()}">Invite Sent!</h3>
                        <h3 th:if="${role.getContractorId() == null}">No Contractor Found</h3>
                        <h3 th:text="${role.getSkill().getDisplayName()}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

<script type="module" th:src="@{/js/navbar.js}"></script>

</html>